.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

div.title {
  background-color: black;
  text-align: left;
  padding: 10px 0px;
}

/* .back-ground {
  background-color: black;
  text-align: left;
  padding: 20px 0px;
} */

.active {
  /* color: aliceblue; */
  padding: 17px 20px;
  text-decoration: none;
}

.active:hover {
  background-color: rgba(255, 255, 0, 0.5);
}

.column {
  float: left;
  width: 30%;
  margin: 20px;
  background-size: contain;
}

.card img {
  width: 100%;
  height: auto;
}

.card {
  background-color: rgb(235, 235, 235);
}

button {
  width: 100%;
  height: 25px;
  background-color: rgb(58, 51, 51);
  color: white;
}

#copyright {
  text-align: center;
  padding: 10px;
  color: black;
  font-size: 14px;
}

.container {
  width: auto;
  height: auto;
}

#footer {
  position: absolute;
  bottom: -270px;
  background-color: rgb(167, 167, 3);
  width: 100%;
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup img {
  width: 100%;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

#openPopUp {
  color: white;
}

ul {
  list-style-type: none;
  margin: 1px;
  padding: 1px;
}

li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.switch-mode {
  display: inline-block;
}

.box {
  height: 80px;
}

nav {
  height: 30px;
  text-align: left;
  padding: 20px 0px;
}